<!doctype html>
<html ng-app="messageBoard">
<head>
    <meta charset="utf-8">
    <title>Message Board</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="css/board.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body ng-controller="MessageBoardCtrl">


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Message Board</h1>
        </div>

        <div class="col-md-12 vertical-center" style="background-color:darkslategray; height: 3em">

                <input placeholder="Search..." class="col-sm-3 pull-right" ng-model="query">
                <button class="btn btn-primary pull-right btn-sm" type="button">Remove</button>
                <button class="btn btn-primary pull-right btn-sm" type="button">Add New</button>


        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="background-color:lightgray; height:500px;">
            <p ng-repeat="message in messages | filter:query">{{message.title}}<br></p>
        </div>

        <div class="col-md-10" style="background-color:lavenderblush; height:500px; overflow: auto;">
            <table class="table messages">
                <tr ng-repeat="message in messages | filter:query">
                    <td>{{message.text}}</td>
                    <td>{{message.reply}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>