<!doctype html>
<html ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <title>Message Board</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main_4.js"></script>

</head>
<body ng-controller="PhoneListCtrl">
<h1>Message Board</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

            Search: <input ng-model="query">
            <br><br>
            Sort by: <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </div>

        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                    {{phone.name}}
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>